<style>

    /* Bottom Bar */
    .footer-bottom {
        margin-top: 2rem;
        text-align: center;
        font-size: 0.9rem;
        color: #555;
        border-top: 1px solid #ccc;
        padding-top: 1rem;
        margin-bottom: 20px;
    }
</style>

<footer>

    <div class="footer-bottom">
        &copy; 2025 SkyFlow Private Limited | Designed with ❤️ for travelers
    </div>
</footer>
